@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Custom scrollbar styles for specific container */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide arrows in WebKit browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.swap-input-container {
  width: 450px;
  height: 150px;
  position: relative;
  clip-path: polygon(
    7.5% 0%,
    92.5% 0%,
    /* top side */ 100% 15%,
    /* top right corner */ 100% 85%,
    /* right side */ 92.5% 100%,
    7.5% 100%,
    /* bottom side */ 0% 85%,
    /* bottom left corner */ 0% 15% /* left side */
  );
  border-radius: 37.5px;
  box-sizing: border-box;
}

.swap-btn-container {
  width: 450px;
  height: 55px;
  position: relative;
  clip-path: polygon(
    7.5% 0%,
    92.5% 0%,
    /* top side */ 100% 15%,
    /* top right corner */ 100% 85%,
    /* right side */ 92.5% 100%,
    7.5% 100%,
    /* bottom side */ 0% 85%,
    /* bottom left corner */ 0% 15% /* left side */
  );
  /* border-radius: 37.5px; */
}
